{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="fab fa-meetup"></i>
                    <h4>RSVP to Meetings</h4>
                    <p>Let us know if you're coming so we can leave the light on for you. Meetup.com is our 
                    our primary place where we let you know about the latest meeting location and times.</p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item">
                            <a href="https://www.meetup.com/Interlock-Rochester-Hackerspace/">
                                <i class="fab fa-meetup"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/roc2600">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:infoREPLACETHISTEXT@rochester2600.com">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/groups/rochester2600/">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="fab fa-twitter"></i>
                    <h4>Latest Announcements</h4>
                    <p>Follow us on Twitter for updates on latest meetings, new locations, or parking suggestions. 
                    If there's a sudden change, we'll announce it here. We also share information about our partner projects.</p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/roc2600">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="fab fa-slack"></i>
                    <h4>Chat With The Community</h4>
                    <p>Join us on RocDev's Slack in the #security channel. You can signup on the RocDev website in the link below: </p>
                    <ul class="list-inline social-icon">
                    <li class="list-inline-item">
                            <a href="https://rocdev.slack.com/messages/#security/">
                                <i class="fab fa-slack"></i>
                            </a>
                        </li>
                    <li class="list-inline-item">
                            <a href="https://www.rocdev.com">
                                <i class="fas fa-globe"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <h4>Give a Talk</h4>
                    <p>Talks are anything security, hacker, or technology related. We've had anything from how to setup a web proxy to quantum physics. It's a great way to share with the group what you're interested in</p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/roc2600">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                         <li class="list-inline-item">
                            <a href="https://rocdev.slack.com/messages/#security/">
                                <i class="fab fa-slack"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                    <i class="fas fa-building"></i>
                    <h4>Sponsor an Event</h4>
                    <p>Do you have a space you can share with us? Want to talk to us about your company? Consider sponsoring an event. </p>
                    <ul class="list-inline social-icon">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/roc2600">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
    </div>
</section>
{{ end }}
